<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post_id.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post_id.body %>
</p>

<%= link_to 'Edit', edit_post_id_path(@post_id) %> |
<%= link_to 'Back', post_ids_path %>
